<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
    <li>List of popular languages in data science</li>
    <li>Common used libraries in data science</li>
    <li>Tool used in data science</li>
    <li>Some example calculations for demonstration in data science</li>
</ul>

<h2>Author: Marco Czerwinski</h2>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Julia</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>NumPy</li>
    <li>ggplot2</li>
    <li>scikit-learn</li>
    <li>TensorFlow</li>
</ol>


<table>
    <th>Data Science Tools</th>
    <tr>
        <td>Jupyter Notebook</td>
    </tr>
    <tr>
        <td>Google CoLab</td>
    </tr>
    <tr>
        <td>RStudio</td>
    </tr>
    <tr>
        <td>Power BI</td>
    </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

In [3]:
#This a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335